<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta property="og:title" content="WebGL2 Boilerplate | PJK" />
    <meta property="og:type" content="article" />
    <meta
      property="og:image"
      content="http://box-fractal.surge.sh/splash.png"
    />
    <meta property="og:url" content="http://box-fractal.surge.sh/" />
    <meta
      property="og:description"
      content="Using GLSL Shaders and RayMarching to dynamically generate 3D github.com/pjkarlik/"
    />
  </head>
  <body></body>
</html>

<!--
  Hello, my name is:
        _ _              _ _ _    
  _ __ (_) | ____ _ _ __| (_) | __
  | '_ \| | |/ / _` | '__| | | |/ /
  | |_) | |   < (_| | |  | | |   < 
  | .__// |_|\_\__,_|_|  |_|_|_|\_\
  |_| |__/       

  I am a UI Architect, front-end developer, designer and all around computer nerd.

  I work building and defining unique interfaces with reproducable code that guide, engage,
  and respond to a user. I identify standards and solutions that are appropriate to our
  environment, evangliaze and drive technology, and generally make things that are pretty.

  contact: https://www.linkedin.com/in/paul-karlik-872aa724
-->
